__pycache__
*.pyc
*.pyo
*.pyd
.env
.cache
.local
.git
.gitignore
*.log


commands to run.md


commands to run.md


Building a Scalable, Production-Grade Agentic RAG Pipeline _ by Fareed Khan _ Level Up Coding.pdf


SCALABLEE RAG reference co

.logfire