# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
genv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Local Vector Store
index.faiss
metadata.pkl

# Data


# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

genv

commands to run.md


Building a Scalable, Production-Grade Agentic RAG Pipeline _ by Fareed Khan _ Level Up Coding.pdf


SCALABLEE RAG reference co


.logfire

# --- TERRAFORM ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl