fastapi
uvicorn[standard]
google-cloud-storage
google-cloud-aiplatform
google-cloud-discoveryengine

faiss-cpu
numpy
python-dotenv
pypdf
streamlit 
requests
qdrant-client

pydantic-ai
python-telegram-bot[job-queue]
tweepy
loguru
pytz
jinja2
nest-asyncio
logfire
logfire[fastapi]
langchain-community 
pydantic-ai-slim[tavily]
pydantic-ai-slim[groq]
redis
sqlalchemy
pg8000
cloud-sql-python-connector