# --- CORE API & UI ---
fastapi
uvicorn[standard]
python-dotenv
requests
streamlit
numpy
pytz
nest-asyncio

# --- GOOGLE CLOUD PLATFORM ---
google-cloud-storage
google-cloud-aiplatform
google-cloud-discoveryengine
google-cloud-documentai
cloud-sql-python-connector

# --- VECTOR & PERSISTENCE ---
qdrant-client
sqlalchemy
pg8000
psycopg[binary]
psycopg-pool

# --- LANGCHAIN & ORCHESTRATION ---
langchain
langgraph
langgraph-checkpoint-postgres
langchain-google-vertexai
langchain-groq
langchain-community
langchain-openai
pydantic>=2.0.0

# --- DATA INGESTION & PARSING ---
unstructured[pdf]
python-pptx
python-docx
beautifulsoup4

# --- OBSERVABILITY & TRACING ---
langsmith
logfire
logfire[fastapi]
loguru


unstructured_inference